/* Barra di navigazione */
.navbar-popone {
    background-color: #a7e6aa; /* Verde chiaro */
}

.navbar-popone .nav-link {
    color: #333; /* Colore del testo di default (scuro) */
}

.navbar-popone .nav-link:hover {
    color: #5db85c; /* Verde più scuro per l'hover */
}

.navbar-popone .nav-link.active {
    color: #388e3c; /* Verde intenso per il link attivo */
}

/* sezioni contenuto pagina TEMPORANEO */
.section-placeholder {
    min-height: 300px;
    margin-bottom: 80px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.section-placeholder.loaded {
    opacity: 1;
}


/* Colori di sfondo per ogni sezione */
#home {
background-color: #f8d7da; /* Rosso chiaro */
}
#chi-sono {
background-color: #d1ecf1; /* Azzurro chiaro */
}
#progetti {
background-color: #d4edda; /* Verde chiaro */
}
#interattivo {
background-color: #fff3cd; /* Giallo chiaro */
}
#contatti {
background-color: #f1c7b6; /* Arancione chiaro */
}